modules = ["python-3.10"]

hidden = [".pythonlibs"]
run = "python3 theme/attila/templates/index.html"

[nix]
channel = "stable-24_05"

[unitTest]
language = "python3"

[deployment]
run = ["sh", "-c", "python3 theme/attila/templates/index.html"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 80

[[ports]]
localPort = 443

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 3001
